<div class="card card-custom gutter-b">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">{{entityName}}</h3>
        </div>
        <div class="card-toolbar">
            <button type="button" class="btn btn-primary" (click)="create()">Adicionar</button>
        </div>
    </div>
    <div class="card-body">
        <!-- begin:Table -->
        <div class="table-responsive angular-bootstrap-table">
            <table class="table table-head-custom table-vertical-center overflow-hidden">
                <thead>
                <th class="selection-cell-header" data-row-selection="true">
                    <label class="checkbox checkbox-single">
                        <input type="checkbox" (click)="grouping.selectAllRows()"
                               [checked]="grouping.checkAreAllRowsSelected()"/><span></span></label>
                </th>
                <th>
                    EVENTO
                    <app-sort-icon column="descricao" [activeColumn]="sorting.column"
                                   [activeDirection]="sorting.direction"
                                   (sort)="sort($event)"></app-sort-icon>
                </th>
                <th>
                    LOCAL
                    <app-sort-icon column="local" [activeColumn]="sorting.column"
                                   [activeDirection]="sorting.direction"
                                   (sort)="sort($event)"></app-sort-icon>
                </th>
                <th>
                    DATA DE INÍCIO
                    <app-sort-icon column="dataInicio" [activeColumn]="sorting.column"
                                   [activeDirection]="sorting.direction"
                                   (sort)="sort($event)"></app-sort-icon>
                </th>
                <th>
                    DATA DE ENCERRAMENTO
                    <app-sort-icon column="dataFim" [activeColumn]="sorting.column"
                                   [activeDirection]="sorting.direction"
                                   (sort)="sort($event)"></app-sort-icon>
                </th>
                <th>
                    ENCONTREIROS
                    <app-sort-icon column="sigla" [activeColumn]="sorting.column"
                                   [activeDirection]="sorting.direction"
                                   (sort)="sort($event)"></app-sort-icon>
                </th>
                <th>
                    ENCONTRISTAS
                    <app-sort-icon column="sigla" [activeColumn]="sorting.column"
                                   [activeDirection]="sorting.direction"
                                   (sort)="sort($event)"></app-sort-icon>
                </th>
                <th>Ações</th>
                </thead>
                <tbody>
                <tr *ngFor="let item of entityService.items$ | async">
                    <td class="selection-cell">
                        <label class="checkbox checkbox-single"><input type="checkbox"
                                                                       (click)="grouping.selectRow(item.id)"
                                                                       [checked]="grouping.isRowSelected(item.id)"/>
                            <span></span>
                        </label>
                    </td>
                    <td>{{ item.descricao }}</td>
                    <td>{{ item.local }}</td>
                    <td>{{ item.dataInicio }}</td>
                    <td>{{ item.dataFim }}</td>
                    <td>{{ item.totalEncontreiros }}</td>
                    <td>{{ item.totalEncontristas }}</td>
                    <td>
                        <a [title]="'Gerenciar Encontreiros'" class="btn btn-icon btn-light btn-hover-success btn-sm mx-3"
                           routerLink="encontreiros" [queryParams]="{encontro: item.id}" routerLinkActive="active">
                            <span [inlineSVG]="'./assets/media/svg/icons/Tools/Roller.svg'" cacheSVG="true"
                                  class="svg-icon svg-icon-md svg-icon-success">
                            </span>
                        </a>
                        <a [title]="'Gerenciar Encontristas'" class="btn btn-icon btn-light btn-hover-warning btn-sm mx-3"
                           routerLink="encontristas" [queryParams]="{encontro: item.id}" routerLinkActive="active">
                            <span [inlineSVG]="'./assets/media/svg/icons/Weather/Umbrella.svg'" cacheSVG="true"
                                  class="svg-icon svg-icon-md svg-icon-warning">
                            </span>
                        </a>
                        <a title="Alterar" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
                           (click)="edit(item.id)">
                            <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'" cacheSVG="true"
                                  class="svg-icon svg-icon-md svg-icon-primary">
                            </span>
                        </a>
                        <a title="Delete customer" class="btn btn-icon btn-light btn-hover-danger btn-sm"
                           (click)="delete(item.id)">
                            <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
                                  class="svg-icon svg-icon-md svg-icon-danger">
                            </span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- end: Table -->
        <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
                       [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator>
    </div>
</div>
